.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

.loading {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .loading i {
    color: white;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
